-- ThyroConsult Test Patients + Payments Seed
-- Generated by generate_seed_sql.js
-- Run: psql -h localhost -p 5432 -U thyroconsult_user -d thyroconsult -f seed_patients.sql

BEGIN;

DO $$
DECLARE v_pid_1 UUID;
BEGIN
  INSERT INTO patients (
    mobile, mobile_hash, whatsapp, whatsapp_hash,
    email, email_hash, password_hash,
    first_name, last_name, guardian_name, guardian_relation,
    gender, address_line1, city, state, pincode,
    mobile_verified, whatsapp_verified, email_verified,
    registration_step, registration_complete, primary_doctor_id
  ) VALUES (
    '2fba92494690e31492a74a73ae9203f9:7599ef783fa0eeea2cb89d6a980ef6fc:9920667f5d6138537d4caadda4', 'dcbd898335294133a7cfb92486af183ea9a2d9a49a74ddf3d7e27be560eb70a9', '3c3b5b10e1935dac00b8272af15d9d37:1f6665958405eb9825b1f5b810ba6f07:70ea7ca80070cbc8470c4f4940', 'dcbd898335294133a7cfb92486af183ea9a2d9a49a74ddf3d7e27be560eb70a9',
    '97ee4ef91458e936421e1a522c0239db:00030ff7949be895d3abc5ac5894b62f:ce5e4bcfb938a240c87042307b40c61b27b235', '4f0a9c48c4b92baa15e6e8d57baf6d58b2d74bacda54c966d2dcf71ef4a6499b', '$2a$12$v.E7yPl6FL0evoEFrFkKa.486VLSrwiRQbJD9Rh/GL4GKr2xry8IC',
    'd337118bd97de68149c8798c4fa3ff70:3b54cd6cf59eef6c80c7346846f21a64:7b49a107', 'c0373f6d3d1e1ab2c8fd40dbd0af5b9b:f303ac1037360893007abf38dc641794:80bf7eb4269c', NULL, NULL,
    'male', 'cae7e7bc759267a25f4dd4b1ba389e6f:50717582b0ab4e91750610aa54fbc1e2:114fb1838ab2da8e9a0a81576ee2f731bddca3d085', '7964422c2f19765c44c6cd17179262c0:886e8d6e49b1935d2b18f7b5ad5c79a0:c19ec665', 'a70e87772fbebe1bf06f884227f91695:f37aebd6b42e3a88341d47ccb9ed15e7:33806cb98f3b58b217b870', '638af8650eab1f400e41775e551ad155:79756d1e6b6f57c956d68f69b96f081c:60e2084cf7ea',
    TRUE, TRUE, TRUE,
    7, TRUE, '96a88ba4-699a-4fdf-b30a-93deebdb229c'
  ) RETURNING id INTO v_pid_1;

  -- Create appointment
  INSERT INTO appointments (patient_id, doctor_id, scheduled_at, consultation_type, status)
  VALUES (v_pid_1, '96a88ba4-699a-4fdf-b30a-93deebdb229c', NOW(), 'video', 'completed');

  -- Create payment
  INSERT INTO payments (
    appointment_id, patient_id, doctor_id,
    razorpay_order_id, razorpay_payment_id, razorpay_signature,
    consultation_fee, platform_fee, gst_amount, total_amount,
    status, payment_method, paid_at
  ) SELECT
    a.id, v_pid_1, '96a88ba4-699a-4fdf-b30a-93deebdb229c',
    'order_TEST101', 'pay_TEST101', 'sig_TEST1',
    1200.00, 50.00, 225.00, 1475.00,
    'paid', 'upi', NOW()
  FROM appointments a
  WHERE a.patient_id = v_pid_1 ORDER BY a.created_at DESC LIMIT 1;

  RAISE NOTICE 'Patient 1 (Arun Sharma): %', v_pid_1;
END;
$$;

DO $$
DECLARE v_pid_2 UUID;
BEGIN
  INSERT INTO patients (
    mobile, mobile_hash, whatsapp, whatsapp_hash,
    email, email_hash, password_hash,
    first_name, last_name, guardian_name, guardian_relation,
    gender, address_line1, city, state, pincode,
    mobile_verified, whatsapp_verified, email_verified,
    registration_step, registration_complete, primary_doctor_id
  ) VALUES (
    'c3002314c24c9e3335f95c6240027e78:af3c675238909de35c6e99df5c46ae72:85b7a69c2f7a912130cdabcd0c', 'f1a926de61179c69f379d43e64f82791de4be129f62cecc77ab3af6830fa1c0c', '2f93172c2917681cffaa262862380706:85bbc1ac480b4dcd32653fbca91e28e9:c62d3d44a7767294470cf89d20', 'f1a926de61179c69f379d43e64f82791de4be129f62cecc77ab3af6830fa1c0c',
    '78c6ab0d8dd48326448c64787430d474:f2d9875bed0d7229c99dafe471264cb4:cd7a038f966b45fdc7eb14db06c4917eaa2038', '070fa19786b438d2fd858ea0170381692300f57a46cbc07018e681508ba7f064', '$2a$12$v.E7yPl6FL0evoEFrFkKa.486VLSrwiRQbJD9Rh/GL4GKr2xry8IC',
    'fc1ae612284711b08091bf5a4a4baf63:1a468da123c80a38109bb8eda346b38f:27a4a1bd74', '43b2609648541a67b7882a43da6affc4:7963dee365cc777acddf15af51d4d35a:a85214dd9b', NULL, NULL,
    'female', '2fcb6c6ad2f294d14ad10f7caa837152:4cb9f7750b5c50cea27f8b4496f90cc5:76c6af1f8241a65e9a8bf35fe821f6240c94fb4a8f', '87917d591c5426eac380315d36153382:3e17d27e54eb282f272fad7295e6f5eb:7be08a7d9d36', '2caacffef8c960206063e70415285ab9:a2ae7930d0d7be28991bdef79f192377:fd33ae2ff109b5957d71e0', 'eec977130a5500b4df7c5558bbe2d427:959660b7df29850236ce8ae6d0cc84e7:57c394c57129',
    TRUE, TRUE, TRUE,
    7, TRUE, '96a88ba4-699a-4fdf-b30a-93deebdb229c'
  ) RETURNING id INTO v_pid_2;

  -- Create appointment
  INSERT INTO appointments (patient_id, doctor_id, scheduled_at, consultation_type, status)
  VALUES (v_pid_2, '96a88ba4-699a-4fdf-b30a-93deebdb229c', NOW(), 'video', 'completed');

  -- Create payment
  INSERT INTO payments (
    appointment_id, patient_id, doctor_id,
    razorpay_order_id, razorpay_payment_id, razorpay_signature,
    consultation_fee, platform_fee, gst_amount, total_amount,
    status, payment_method, paid_at
  ) SELECT
    a.id, v_pid_2, '96a88ba4-699a-4fdf-b30a-93deebdb229c',
    'order_TEST202', 'pay_TEST202', 'sig_TEST2',
    1200.00, 50.00, 225.00, 1475.00,
    'paid', 'upi', NOW()
  FROM appointments a
  WHERE a.patient_id = v_pid_2 ORDER BY a.created_at DESC LIMIT 1;

  RAISE NOTICE 'Patient 2 (Priya Desai): %', v_pid_2;
END;
$$;

DO $$
DECLARE v_pid_3 UUID;
BEGIN
  INSERT INTO patients (
    mobile, mobile_hash, whatsapp, whatsapp_hash,
    email, email_hash, password_hash,
    first_name, last_name, guardian_name, guardian_relation,
    gender, address_line1, city, state, pincode,
    mobile_verified, whatsapp_verified, email_verified,
    registration_step, registration_complete, primary_doctor_id
  ) VALUES (
    'c9c4a954c24169c61ddc4dab4aa313cf:908df41d547dda678a81b7a1dade8f58:faa700c10debb1edc2c3df3192', 'a8eda49006b337e7f07ae2286c6440e3c417468f5314c3cf1d6d0dead0390ebb', '257b81a2b8262f2323123e21921fcdfc:c1e436a92da9d28e5dd2073879417b70:9a19e82d3008ae64d132301609', 'a8eda49006b337e7f07ae2286c6440e3c417468f5314c3cf1d6d0dead0390ebb',
    '3955c4b19bee3d80741a723de42aeab4:29353d4f63bafb02d52415d22cb598a8:6f2928fe8eb0917ced04c3ac0ce1b703de4a5c', 'b882b0d615a41830338b83612d8e8b1d93c87b512d68950afffbcdf3f3f88625', '$2a$12$v.E7yPl6FL0evoEFrFkKa.486VLSrwiRQbJD9Rh/GL4GKr2xry8IC',
    '496974653f569496dcb91e4ac4724a7b:6bb9192c617ddde7b7e0bdecb90867b4:1767d3afde66', '57c73992f7a485d8ceb6425bd4fbe403:bfded6e116a7c1c744b8fb78eec4aa7e:988293a9', NULL, NULL,
    'male', '6b261601ef71c2324662bf526b54654d:72ee77417fb5f4a7676d9b09d33c7508:e25f1fa329489a1b098aeb054d4b3d21b5973e6e', '7e76c5516655fbb6c2bb8c1e1cfd1bba:424c490182eaca2e199a6892ae993891:8956210f', 'b3df9fb57cc00c02f0ff8311a89cd444:8653bbf5d51753db69fe4adc9efe5390:17bb4f1c7b6872c8660d88', 'ec4d9915fb630b6831d20e302511bb0c:5a0f2031bb530f4e4f906381ebad51a5:fa634d03207f',
    TRUE, TRUE, TRUE,
    7, TRUE, '96a88ba4-699a-4fdf-b30a-93deebdb229c'
  ) RETURNING id INTO v_pid_3;

  -- Create appointment
  INSERT INTO appointments (patient_id, doctor_id, scheduled_at, consultation_type, status)
  VALUES (v_pid_3, '96a88ba4-699a-4fdf-b30a-93deebdb229c', NOW(), 'video', 'completed');

  -- Create payment
  INSERT INTO payments (
    appointment_id, patient_id, doctor_id,
    razorpay_order_id, razorpay_payment_id, razorpay_signature,
    consultation_fee, platform_fee, gst_amount, total_amount,
    status, payment_method, paid_at
  ) SELECT
    a.id, v_pid_3, '96a88ba4-699a-4fdf-b30a-93deebdb229c',
    'order_TEST303', 'pay_TEST303', 'sig_TEST3',
    1200.00, 50.00, 225.00, 1475.00,
    'paid', 'upi', NOW()
  FROM appointments a
  WHERE a.patient_id = v_pid_3 ORDER BY a.created_at DESC LIMIT 1;

  RAISE NOTICE 'Patient 3 (Suresh Nair): %', v_pid_3;
END;
$$;

DO $$
DECLARE v_pid_4 UUID;
BEGIN
  INSERT INTO patients (
    mobile, mobile_hash, whatsapp, whatsapp_hash,
    email, email_hash, password_hash,
    first_name, last_name, guardian_name, guardian_relation,
    gender, address_line1, city, state, pincode,
    mobile_verified, whatsapp_verified, email_verified,
    registration_step, registration_complete, primary_doctor_id
  ) VALUES (
    '45d39246b56e4778351a9923c9b59374:48ca21252fb3a24115b69b4e7250498a:0ad7610f2172d20ac9a142b09e', '95e5df684aefeb2b4b1cb4499c7456cfbd733fe9cd5b4912b51d647f9a623758', 'ecdb3d040e90e2f019c1355110258a70:6dd71e3096acdaded0f74db27558053a:840f076ffc6d0f2156e4bce637', '95e5df684aefeb2b4b1cb4499c7456cfbd733fe9cd5b4912b51d647f9a623758',
    'a3406f70af83586cabaf08ffec92eed8:979a153258cf28cb2d60b39aa4cdaa92:c73246414a617704a8ba4761f327065b4a10', '2bad8ab176ccab6543eea8c8d2e13253921b4241406103fa07cff4d960312df2', '$2a$12$v.E7yPl6FL0evoEFrFkKa.486VLSrwiRQbJD9Rh/GL4GKr2xry8IC',
    '4a5ddad3e5a6570b0b1d316791e43e95:b35329a85749e1a2073d8ad926d43112:7faf3803e9', 'b1e00a94cfa0a813476cba7217851cee:774ff137e1dc3f32320661ca6d6d42b8:edc96c91', NULL, NULL,
    'female', '42816fd44fe91bf40ff78bcf4c6f3644:9e2ceed10f18ced010239881bdcb8054:69602c32020bfae49e5d6757d7fe7db115ef10b4', 'cb11033b2c036a4070f6c5bea7b6a370:4f0ff9be2ed3e21ba3e54c08b0afdc1b:18b438e0f43687', '35937532696c9cfd09c169fc598593c4:86ae86907ae162d16c5cf88fc316a4e5:b6207ea54531a84ccb41', 'd4916e3086ea2d14d10bf004ec484ae8:f44cb4709d07a43c517c96f29a0b20e8:a8dfa8947dc0',
    TRUE, TRUE, TRUE,
    7, TRUE, '96a88ba4-699a-4fdf-b30a-93deebdb229c'
  ) RETURNING id INTO v_pid_4;

  -- Create appointment

  -- Create payment
  INSERT INTO payments (
    appointment_id, patient_id, doctor_id,
    razorpay_order_id, razorpay_payment_id, razorpay_signature,
    consultation_fee, platform_fee, gst_amount, total_amount,
    status, payment_method, paid_at
  ) SELECT
    a.id, v_pid_4, '96a88ba4-699a-4fdf-b30a-93deebdb229c',
    'order_TEST404', 'pay_TEST404', 'sig_TEST4',
    1200.00, 50.00, 225.00, 1475.00,
    'paid', 'upi', NOW()
  FROM appointments a
  WHERE a.patient_id = v_pid_4 ORDER BY a.created_at DESC LIMIT 1;

  RAISE NOTICE 'Patient 4 (Meena Iyer): %', v_pid_4;
END;
$$;

DO $$
DECLARE v_pid_5 UUID;
BEGIN
  INSERT INTO patients (
    mobile, mobile_hash, whatsapp, whatsapp_hash,
    email, email_hash, password_hash,
    first_name, last_name, guardian_name, guardian_relation,
    gender, address_line1, city, state, pincode,
    mobile_verified, whatsapp_verified, email_verified,
    registration_step, registration_complete, primary_doctor_id
  ) VALUES (
    '01cf23b3bf821bfe4aa5b3461a49721a:a6082328e944017626a956e28d2952f7:69d8c484bafe4b8db0ee84bc5c', '634466c5eac8f9b602e85b47e901abaf7253e771b63f4fbbec06ebb38463c614', '27fa73019ac5ddaf42eec5c3f14482c2:068c5615939e1f341909194a8cfedfc1:7a0b9336440be532245cb9c764', '634466c5eac8f9b602e85b47e901abaf7253e771b63f4fbbec06ebb38463c614',
    'd8857d0029256b158e1abae91f5a2379:102ae3d918abdfd98d15cd9fed837be5:58519f26185beb51700b681cda7a76c1b9b1d5b095', '5b9946af9e014e0f500846a0323f68c272e3ebcc1f3f82c2a7aa40a1c5f8f350', '$2a$12$v.E7yPl6FL0evoEFrFkKa.486VLSrwiRQbJD9Rh/GL4GKr2xry8IC',
    '47dc8c22e81b8d9f3d2837d5084f8879:35448b34a9825c183fad05bc3b45cc03:756b7b58', 'cff6194ac463d056e737d996ecb3f87a:98f86199eb11cd42fb18f5e08bbd19d5:d578be403296fe29', '1d30a2f915f4b59955a4f61774085278:aefb87599fb3254dec29ca9922fed4df:e38383298cbf1c1eaad34ab0e7cb75', 'Father',
    'male', '191e66884c1170f12ab30e4a8063bb87:6710038c88230b46763d7cdf1af93e11:7141e05f34bcc2581208c428f156ca27e869', 'f42ed08644a10be41148242e86bc5f4f:4f30c2cc31f58fd4ddde436b033e8612:98944001', '5760aeede464015be5dc5b46d1854dac:1c27369586cf8bf26919a709ff9cdcdf:17de1f988a9c7a4fa905a7', 'dba5e8b9738d7aee3639df3b58cce8e2:044707b0a64b5b0eef7f8b19969bcb07:a3e59a62508a',
    TRUE, TRUE, TRUE,
    7, TRUE, '96a88ba4-699a-4fdf-b30a-93deebdb229c'
  ) RETURNING id INTO v_pid_5;

  -- Create appointment

  -- Create payment
  INSERT INTO payments (
    appointment_id, patient_id, doctor_id,
    razorpay_order_id, razorpay_payment_id, razorpay_signature,
    consultation_fee, platform_fee, gst_amount, total_amount,
    status, payment_method, paid_at
  ) SELECT
    a.id, v_pid_5, '96a88ba4-699a-4fdf-b30a-93deebdb229c',
    'order_TEST505', 'pay_TEST505', 'sig_TEST5',
    1200.00, 50.00, 225.00, 1475.00,
    'paid', 'upi', NOW()
  FROM appointments a
  WHERE a.patient_id = v_pid_5 ORDER BY a.created_at DESC LIMIT 1;

  RAISE NOTICE 'Patient 5 (Ravi Kulkarni): %', v_pid_5;
END;
$$;

COMMIT;

-- Verify:
SELECT p.id, p.patient_code, pay.id AS payment_id, pay.invoice_number
FROM patients p JOIN payments pay ON pay.patient_id = p.id
WHERE pay.razorpay_payment_id LIKE 'pay_TEST%'
ORDER BY p.created_at DESC;
